{% extends 'base.html' %}

{% block head %}
<title>Welcome | BudayaKB</title>
{% endblock %}

{% block body %}
<div class="container">
  <br>
  <h2 style="text-align: center;">Selamat Datang di BudayaKB</h2>
  <br>
  <p style="text-align: justify;">Indonesia adalah negara yang kaya akan warisan budaya. Batik, misalnnya, merupakan salah satu simbol warisan budaya
    yang telah
    diakui oleh UNESCO sebagai intangible cultural heritage of humanity. Warisan budaya lainnya yang tidak kalah populer
    adalah Rendang,
    yang merupakan ikon kuliner Indonesia dan terpilih sebagai masakan terenak di dunia menurut CNN. Tentunya, masih
    banyak lagi
    warisan-warisan budaya Indonesia yang tak kalah menarik, mulai dari Tari Saman, sampai Upacara Kik Kir Kna</p>

  <p>Sistem BudayaKB merupakan sistem manajemen knowledge base (KB) untuk warisan budaya Indonesia. Sistem ini
    dikembangkan untuk
    melestarikan budaya Indonesia dan memiliki beberapa fitur penting, diantaranya:</p>
</div>
<div class="container col-md-4" style="text-align: center;">

    <ul>
      <li class="list-group-item list-group-item-light">Mengimpor dan mengekspor daftar budaya</li>
      <li class="list-group-item list-group-item-light">Mencari data budaya</li>
      <li class="list-group-item list-group-item-light">Mencari, menyunting, dan menghapus daftar budaya</li>
      <li class="list-group-item list-group-item-light">Menampilkan statistik budaya</li>
    </ul>
</div>
<br><br><br><br>
{% endblock %}