{% extends 'base.html' %}

{% block head %}

<title>Search | BudayaKB</title>

{% endblock %}

{% block body %}

<div class="container" style="text-align: center;">
  <br><br>
  <h2>Cari Budaya</h2>
  <h3>Page pencarian budaya sesuai mode pencarian</h3>
  <br>
</div>

<div class="container col-md-4">
  <br><br><br>
  <form action="{{url_for('search')}}" method="POST">
    <div class="form-group">
      <label for="inputState" >Mode Pencarian</label>
      <select id="inputState" class="form-control" name="mode">
        <option selected value="name">Nama</option>
        <option value="tipe">Tipe</option>
        <option value="prov">Provinsi</option>
      </select>
    </div>

    <div class="form-group">
      <input required class="form-control" type="text" placeholder="Search" aria-label="Search" name="keyword">
      <br>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </form>
  <br>
</div>

{% if result is defined %}
<div style="width: 80%; margin-left: auto; margin-right: auto;">
  <div style="position: relative; max-height: 680px; overflow-y: scroll;overflow-x: scroll; display: block;">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nama</th>
          <th scope="col">Tipe</th>
          <th scope="col">Provinsi</th>
          <th scope="col">url</th>
        </tr>
      </thead>
      <tbody>
        {% for i in result %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{i.nama}}</td>
          <td>{{i.tipe}}</td>
          <td>{{i.prov}}</td>
          <td><a href="{{i.url}}">{{i.url}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

<div class="container">
  
  {% if imported is defined %}
  <h2 style="text-align: center;" class="alert alert-warning">Tolong Import File CSV Terlebih Dahulu</h2>
  {% endif %}

  {% if keyword is defined %}
  <h2 style="text-align: center;" class="alert alert-danger">{{keyword}} Tidak Ditemukan di Daftar Budaya</h2>
  {% endif %}

  <br><br><br><br><br><br><br>

</div>

{% endblock %}